<main class="w-default flex flex-wrap content-center mt-36">
  <div class="">
    <h1 class="text-4xl tracking-tight font-extrabold text-gray-900 dark:text-gray-100 sm:text-5xl md:text-6xl">

      <span class="inline-block xl:inline text-gradient text-gradient bg-gradient-to-r from-blue-500 to-blue-700">
        Our mission is to empower AEC companies with open and accessible data.
      </span>
    </h1>
    <p class="text-4xl text-justify text-gray-700 dark:text-gray-100 md:max-w-6xl mt-10">

    </p>
  </div>
</main>
<div class="w-default mt-20 mb-20 my-0 grid grid-cols-1 md:grid-cols-2 gap-10">
  <div class="relative border-l-4 dark:border-gray-700 flex">
    <div class="self-center">
      <h2 class="text-xl pl-5 mb-5 font-bold text-blue-600">What
        is Speckle?</h2>
      <p class=" pl-5 text-base text-gray-800 dark:text-gray-400">
        Speckle is a cloud based solution for the AEC
        industry that provides
        honest interoperability, real time
        collaboration, data management, versioning and
        automation.
      </p>
    </div>
  </div>
  <div class="grid md:grid-cols-1 gap-5 w-full -px-5">

    <div class="relative h-16 md:h-16 lg:h-16 rounded-2xl overflow-hidden transition hover:shadow-2xl p-5 flex col-span-2 sm:col-span-1 bg-white dark:bg-gray-900 ">
      <a href="/features" class="flex w-full h-full">
        <div class="block self-center w-full">
          <div class="text-xl font-semibold text-blue-600">
            Features →
          </div>
        </div>
      </a>
    </div>

    <div class="relative h-16 md:h-16 lg:h-16 rounded-2xl overflow-hidden transition hover:shadow-2xl p-5 flex col-span-2 sm:col-span-1 bg-white dark:bg-gray-900 ">
      <a href="/developers" class="flex w-full h-full">
        <div class="block self-center w-full">
          <div class="text-xl font-semibold text-blue-600">
            For Developers →
          </div>
        </div>
      </a>
    </div>

    <div class="relative h-16 md:h-16 lg:h-16 rounded-2xl overflow-hidden transition hover:shadow-2xl p-5 flex col-span-2 sm:col-span-1 bg-white dark:bg-gray-900 ">
      <a href="/partnerships" class="flex w-full h-full">
        <div class="block self-center w-full">
          <div class="text-xl font-semibold text-blue-600">
            Partnerships →
          </div>
        </div>
      </a>
    </div>

  </div>

</div>