<div class="relative py-10 rounded-2xl px-8 mx-auto shadow-2xl w-full md:w-2/3 lg:w-1/3 -mb-14 z-20 bg-white dark:bg-gray-900
  transform transition-transform scale-90 hover:scale-100
">
  <div class="block mx-auto self-center text-center">
    {{#if headline}}
    <div class="text-3xl font-semibold dark:text-gray-200 text-gray-800">
      {{headline}}
    </div>
    {{/if}}
    <blockquote class="{{#if headline}}mt-8{{/if}}">
      <div class="relative dark:text-gray-200 text-gray-800">
        <p class="relative">
          {{#if subHeadline}}
          {{subHeadline}}
          {{/if}}
        </p>
        <div class="rounded-xl shadow-xl mt-5">
          <a href="https://app.speckle.systems"
            class="flex items-center justify-center px-8 py-3 border border-transparent text-base font-medium rounded-md text-white transition bg-blue-500 hover:ring-4 md:py-4 md:text-lg md:px-10">
            {{#if buttonText}}
            {{buttonText}}
            {{else}}
            Join the beta
            {{/if}}
          </a>
        </div>
      </div>
    </blockquote>
  </div>
</div>