<div class="relative h-screen/4 rounded-2xl overflow-hidden flex col-span-2 transition hover:shadow-2xl bg-white dark:bg-gray-900">
  <div class="relative block mx-auto self-center text-center">
    <a href="{{primary_tag.url}}" class="w-full h-full">
    <div class="text-3xl font-semibold text-blue-600">
      {{primary_tag.name}} →
    </div>
    </a>
  </div>
</div>