<a href="/getstarted"
  class="inline-block items-center justify-center px-8 py-3 transition text-base font-medium rounded-md text-white bg-blue-500 hover:ring-4 hover:shadow-3xl md:py-4 md:text-lg">
  <span class="text-white no-underline">Get Started</span>
</a>