<div class="container my-10 mx-auto max-w-12xl px-10 lg:px-24 sm:mt-24">
  <div class="text-center text-gray-300 dark:text-gray-600 pb-10">
    Speckle was seen in the wild at
  </div>
  <div class="grid grid-cols-2 sm:grid-cols-4 gap-4 text-gray-500 dark:text-gray-600">
    <div class="p-3 h-20 flex items-center justify-center">
      Arup
    </div>
    <div class="p-3 h-20 text-center align-center flex items-center justify-center">
      Atkins
    </div>
    <div class="p-3 h-20 text-center align-center flex items-center justify-center">
      Royal Haskoning
    </div>
    <div class="p-3 h-20 text-center align-center flex items-center justify-center">
      HOK
    </div>
  </div>
  <div class="grid grid-cols-2 sm:grid-cols-4 gap-4 text-gray-500 dark:text-gray-600">
    <div class="p-3 h-20 text-center align-center flex items-center justify-center">
      BIG
    </div>
    <div class="p-3 h-20 text-center align-center flex items-center justify-center">
      Aurecon
    </div>
    <div class="p-3 h-20 text-center align-center flex items-center justify-center">
      Grimshaw
    </div>
    <div class="p-3 h-20 text-center align-center flex items-center justify-center">
      SNC Lavalin
    </div>
  </div>
</div>