<a href="https://speckle.xyz/authn/register" target="_blank"
  class="inline-flex w-full items-center justify-center px-4 py-2 border border-transparent transition rounded-md shadow-sm text-base font-medium text-white bg-blue-500 hover:ring-4 hover:shadow-xl">
  Register Now
</a>