<nav class="pagination text-center" role="navigation">
  {{#if prev}}
    <a class="newer-posts text-blue-600 rounded-full bg-white dark:bg-gray-900 mx-5 py-2 px-5 shadow transition hover:shadow-xl" href="{{page_url prev}}">&larr;
      Newer Posts</a>
  {{/if}}
  <span class="page-number dark:text-gray-300">Page {{page}} of {{pages}}</span>
  {{#if next}}
    <a class="older-posts text-blue-600 rounded-full bg-white dark:bg-gray-900 mx-5 py-2 px-5 shadow transition hover:shadow-xl" href="{{page_url next}}">Older
      Posts &rarr;</a>
  {{/if}}
</nav>