<div class="bg-white p-10 col-span-1 lg:col-span-3 shadow-xl rounded-xl dark:bg-gray-900 relative ring dark:ring-blue-700">
  <div>
    <h3 class="bg-blue-100 font-semibold text-base text-blue-600 tracking-wide uppercase px-4 py-1 rounded-full inline-flex">
      <span class="hidden md:inline-block mr-1">Speckle for</span> Teams & Individuals
    </h3>
    <h2 class="font-bold text-4xl mt-5 dark:text-gray-300">
      Standard
      <span class="font-medium text-base text-blue-600">Free</span>
    </h2>
    <p class="mb-5 mt-5 pt-5 border-t dark:border-gray-600 dark:text-gray-300">
      Our standard plan for individuals & teams.
      Enjoy
      Speckle without extra hassle.
    </p>
    <p class="mb-2  dark:text-gray-300">Interoperability:</p>
    <ul class="space-y-2 ">
      {{> extras/listItem value="Speckle Revit"}}
      {{> extras/listItem value="Speckle Rhino"}}
      {{> extras/listItem value="Speckle Dynamo"}}
      {{> extras/listItem value="Speckle Grasshopper"}}
      {{> extras/listItem value="And More "}}
    </ul>
    <p class="my-4  dark:text-gray-300">Features:</p>
    <ul class="space-y-2 ">
      {{> extras/listItem value="Unlimited streams"}}
      {{> extras/listItem value="Unlimited versions"}}
      {{> extras/listItem value="Web 3d viewer"}}
      {{> extras/listItem value="API Access"}}
      {{> extras/listItem value="App Registration"}}
      {{> extras/listItem value="Community support"}}
    </ul>
  </div>
  {{!-- <div class="h-16 absolute bottom-0 inset-x-0"> --}}
  <div class="self-end mt-10 ">
    <a href="https://forms.gle/oA64wPTjk7FprGf16">
      <button class="w-full bg-blue-600 font-medium text-base text-white px-4 py-2 shadow-sm border-transparent rounded-md border hover:bg-blue-700 hover:shadow-xl transition">
        Join the waiting list
      </button>
    </a>
  </div>
</div>

<div class="bg-gray-50 dark:bg-gray-800 col-span-1 lg:col-span-2 p-10 flex-wrap rounded-xl flex relative">
  <div class="w-full">
    <h3 class="bg-blue-100 font-semibold text-base text-blue-600 tracking-wide uppercase px-4 py-1 rounded-full inline-flex">
      <span class="hidden md:inline-block mr-1">Speckle for</span> Enterprises
    </h3>
    <h2 class="font-bold text-4xl mt-5  dark:text-gray-200">
      Managed
    </h2>
    <p class="mb-5 mt-5 pt-5 border-t dark:border-gray-600 dark:text-gray-200">
      Dedicated solutions for enterprises, large
      teams or projects.
    </p>
    <ul class="font-bold space-y-2 ">
      {{> extras/listItem value="Everyting in Standard"}}
    </ul>
    <p class="my-4  dark:text-gray-200">Deployment:</p>
    <ul class="space-y-2 ">
      {{> extras/listItem value="On premise, with your cloud infrastructure"}}
      {{> extras/listItem value="On our managed cloud infrastructure"}}
    </ul>
    <p class="my-4  dark:text-gray-200">Extras:</p>
    <ul class="space-y-2 ">
      {{> extras/listItem value="Custom subdomain"}}
      {{> extras/listItem value="Choice of locations"}}
      {{> extras/listItem value="SSO (Single sign-on)"}}
      {{> extras/listItem value="SLA (Service Level Agreement)"}}
      {{> extras/listItem value="Dedicated Support"}}
    </ul>
  </div>
  <div class="self-end mt-10 w-full">
    <button class="w-full bg-blue-600 font-medium text-base text-white px-4 py-2 shadow-sm border-transparent rounded-md border hover:bg-blue-700 hover:shadow-xl transition">
      Contact Sales
    </button>
  </div>
</div>