{{!< default}} {{#post}}

  {{!-- Header --}}

  <main class="relative w-default flex flex-wrap mt-24">
    <div class="w-3/3">
      <h1 class="text-4xl tracking-tight font-extrabold text-gray-900 dark:text-gray-100 sm:text-5xl md:text-6xl">
        <span class="inline-block xl:inline text-gradient text-gradient bg-gradient-to-r from-blue-500 to-blue-700">
          {{title}}
        </span>
      </h1>
      <p class="text-base text-justify text-gray-500 dark:text-gray-100 sm:text-lg md:text-xl md:max-w-6xl mt-10">
        {{excerpt}}
      </p>
    </div>
  </main>
  
  {{> interop/connectorTagCards}}

    <div class="shadow-xl sm:px-2 px-5 pt-8 pb-10 rounded-lg mt-10 bg-white dark:bg-gray-900">
      <div class="w-default flex content-center space-x-2 flex-wrap justify-around  mx-auto ">
        <div class="mt-2 text-center sm:text-left dark:text-gray-200">
          <h3 class="text-2xl">Are we missing a connector?</h3>
          <p>Let us know on the community forum, and we can start a discussion on development.</p>
        </div>
        
        <a href="https://speckle.community/new-topic?title=New%20Connector%20Request&category=features"
          target="_blank"
          class="mt-2 border-2 rounded-lg border-blue-500 bg-blue-500 hover:ring-4 transition p-4 flex text-white text-center justify-center">
          <span class="self-center">New connector proposal</span>
        </a>
      </div>
    </div>

  <div class="prose prose-blue lg:prose-xl mx-auto dark:prose-dark my-10 px-4 md:px-0">
    
    {{content}}

  </div>

  {{/post}}