{{!< default}}


{{#tag}}

  <main class="w-default h-screen/3 flex flex-wrap content-center mt-24">
    <div class="w-3/3">
      <h1 class="text-4xl tracking-tight font-extrabold text-gray-900 dark:text-gray-100 sm:text-5xl md:text-6xl">
        Hey
        <span class="inline-block xl:inline text-gradient text-gradient bg-gradient-to-r from-blue-500 to-blue-700">
          Devs!
        </span>
      </h1>
      <p class="text-base text-justify text-gray-500 sm:text-lg md:text-xl md:max-w-6xl mt-10">
        {{description}}
      </p>
    </div>
  </main>

{{/tag}}

<div class="w-default my-10 ">
  <div class="grid md:grid-cols-2 gap-5 w-full -px-5">

    <div class="relative h-36 md:h-24 lg:h-48 rounded-2xl overflow-hidden transition hover:shadow-2xl p-5 flex col-span-2 sm:col-span-1 bg-white dark:bg-gray-900 ">
      <a href="https://github.com/specklesystems" class="flex w-full h-full">
        <div class="block self-center w-full">
          <div class="text-3xl font-semibold text-blue-600">
            <svg class="h-6 w-6 inline -mt-2" fill="currentColor"
              viewBox="0 0 24 24" aria-hidden="true">
              <path fill-rule="evenodd" d="M12 2C6.477 2 2 6.484 2 12.017c0 4.425 2.865 8.18 6.839 9.504.5.092.682-.217.682-.483 0-.237-.008-.868-.013-1.703-2.782.605-3.369-1.343-3.369-1.343-.454-1.158-1.11-1.466-1.11-1.466-.908-.62.069-.608.069-.608 1.003.07 1.531 1.032 1.531 1.032.892 1.53 2.341 1.088 2.91.832.092-.647.35-1.088.636-1.338-2.22-.253-4.555-1.113-4.555-4.951 0-1.093.39-1.988 1.029-2.688-.103-.253-.446-1.272.098-2.65 0 0 .84-.27 2.75 1.026A9.564 9.564 0 0112 6.844c.85.004 1.705.115 2.504.337 1.909-1.296 2.747-1.027 2.747-1.027.546 1.379.202 2.398.1 2.651.64.7 1.028 1.595 1.028 2.688 0 3.848-2.339 4.695-4.566 4.943.359.309.678.92.678 1.855 0 1.338-.012 2.419-.012 2.747 0 .268.18.58.688.482A10.019 10.019 0 0022 12.017C22 6.484 17.522 2 12 2z"
                clip-rule="evenodd"></path>
            </svg>
            Github →
          </div>
          <p class="dark:text-gray-300">Where our code
            lives,
            grows and improves.</p>
        </div>
      </a>
    </div>

    <div class="relative h-36 md:h-24 lg:h-48 rounded-2xl overflow-hidden transition hover:shadow-2xl p-5 flex col-span-2 sm:col-span-1 bg-white dark:bg-gray-900 ">
      <a href="https://speckle.guide" class="flex w-full h-full">
        <div class="block self-center w-full">
          <div class="text-3xl font-semibold text-blue-600">
            Docs →
          </div>
          <p class="dark:text-gray-300">They're WIP, but
            we're getting there.</p>
        </div>
      </a>
    </div>

  </div>
</div>

<div class="w-default my-10">
  <h3 class="text-xl my-2 text-blue-600">We've got you
    covered:</h3>
</div>

<div class="w-default grid gap-5 md:grid-cols-2 lg:grid-cols-3">

  {{#foreach posts}}

    {{> cardFancy}}

  {{/foreach}}

</div>


{{> cardCTA headline="Ready to hack?" subHeadline="Speckle 2.0 is coming soon." }}