{{!< default}}

{{> extras/patterns}}

<div class="z-0 absolute w-full md:w-3/6 md:right-0 h-screen/2  md:mr-5">
  <div class="absolute z-1 inset-0 w-full h-full opacity-40 dark:opacity-20">
    {{> extras/featuresSimpleSvg }}
  </div>
</div>

{{#tag}}

  <main class="relative w-default h-screen/3 flex flex-wrap content-center mt-24">
    <div class="w-3/3">
      <h1 class="text-4xl tracking-tight font-extrabold text-gray-900 dark:text-gray-100 sm:text-5xl md:text-6xl">
        Speckle
        <span class="inline-block xl:inline text-gradient text-gradient bg-gradient-to-r from-blue-500 to-blue-700">
          {{name}}
        </span>
      </h1>
      <p class="text-base text-justify text-gray-500 dark:text-gray-100 sm:text-lg md:text-xl md:max-w-6xl mt-10">
        {{description}}
      </p>
    </div>
  </main>

{{/tag}}

<div class="relative w-default my-10">
  <h3 class="text-xl my-2 text-blue-600">Key features</h3>
</div>

<div class="relative w-default grid gap-5 md:grid-cols-2 lg:grid-cols-3 mb-16">

  {{#foreach posts}}

    {{> cardFancy}}

  {{/foreach}}

  <div class="relative py-20 rounded-xl shadow hover:shadow-2xl bg-white dark:bg-gray-800 ring transition overflow-hidden flex col-span-2 md:col-span-1">
    <a href="/developers" class="self-center">
      <div class="absolute inset-0 bg-blue-500 opacity-10"
        style="mix-blend-mode: multiply;"></div>
      <div class="absolute inset-0 bg-gradient-to-t from-blue-600 via-blue-600 opacity-10"></div>
      <div class="relative px-8">
        <div class="text-3xl font-semibold text-gray-800 dark:text-gray-100 dark:text-gray-100">
          Do you want to develop on top of Speckle?
        </div>
        <blockquote class="mt-8">
          <div class="relative text-lg font-medium text-gray-800 dark:text-gray-100 md:flex-grow">
            <p class="relative line-clamp-3">
              Speckle is a solid, open source base for your apps.
            </p>
          </div>

          <footer class="mt-4">
            <p class="text-base font-semibold hover:text-blue-900 dark:text-blue-200 ">
              Read more
            </p>
          </footer>
        </blockquote>
      </div>
    </a>
  </div>

</div>

{{!-- {{> cardCTA subHeadline="Apply now:" }} --}}