{{!< default}}


<div class="z-0 absolute w-full md:w-3/6 md:right-0 h-screen/2 md:mt-20 md:mr-5">
  <div class="absolute z-0 inset-0 w-full h-full opacity-5">
    {{> extras/circles }}
  </div>
  <div class="absolute z-1 inset-0 w-full h-full opacity-20">
    {{> extras/duper }}
  </div>
</div>


{{> landing/header }}

{{> landing/logos }}

{{> landing/featuresPreview }}

{{> landing/opensource }}

{{> landing/developersPreview }}

{{> cardCTA subHeadline="We're working round the clock to get V2 out - be the first to try it out:" }}

{{> landing/blogPreview }}

{{> landing/newsletter }}