{{!< default}}

<div class="absolute inset-0 pt-5 md:pt-24 opacity-20 dark:opacity-10 h-6/6 md:h-4/6">
  {{> extras/duper }}
</div>


{{> landing/header }}

{{> landing/logos }}

{{> landing/features-wide }}

{{> cardCTA }}

{{> landing/opensource }}



<div class="">
  <div class="w-default container my-10 pt-10">
    <div class="grid grid-cols-2 gap-4 mt-10">
      <div class="p-3 dark:text-white">
        <h3 class="text-xl my-2 text-blue-100">Designed
          for developers</h3>
        <h1 class="text-3xl dark:text-white">AEC's most
          powerful and easy to use APIs</h1>
        <p>
          Easily access any data coming from Revit,
          Rhino, Dynamo, Grasshopper and more and
          scaffold powerful applications that
          turbo-charge your design process.
        </p>
        <div class="mt-10">
          <button class="inline-flex transition duration-500 items-center py-3 px-5 border-b outline-none focus:outline-none hover:shadow-lg shadow text-white">
            Read the documentation
          </button>
          <button class="py-3 px-5 inline-flex transition border-b duration-500 items-center hover:shadow-lg shadow">
            Checkout the code
          </button>
        </div>
      </div>
      <div class="p-3 h-screen/2 dark:text-white bg-blue-200 dark:bg-gray-900 rounded transition shadow hover:shadow-xl flex items-center">
        Viewer Demo
      </div>
    </div>
    <div class="grid grid-cols-3 gap-8 pt-10 mt-10">
      <div class="p-3 text-center border rounded-xl">
        Unified, modern API
        <br>
        Bla bla
      </div>
      <div class="p-3 text-center border rounded-xl">
        Automate Design and Analysis Processes
        <br>
        Bla bla
      </div>
      <div class="p-3 text-center border rounded-xl">
        Build Web Applications
        <br>
        Bla bla
      </div>
    </div>
  </div>
</div>


{{!-- <h4>Hai index</h4> --}}

{{!-- <div class="gh-page">
  <div class="gh-container">
    <h3>Hello! </h3>
    <div class="gh-postfeed">
      {{#foreach posts visibility="all"}}

        {{> "card"}}

      {{/foreach}}
    </div>

  </div>
</div> --}}