{{!< default}}

<div class="absolute inset-0 lg:inset-y-0 right-0 pt-5 md:pt-24 opacity-30 dark:opacity-10 h-6/6 md:h-5/6 w-3/3 w-3/3">
  {{> extras/duper }}
</div>

{{> landing/header }}

{{> landing/logos }}

{{> landing/features-wide }}

{{> landing/opensource }}

{{> landing/developers }}

{{> cardCTA subHeadline="We're working round the clock to get V2 out - be the first to try it out:" }}

{{> landing/blogPreview }}

{{> landing/newsletter }}