{{!< default}}


<div class="z-0 relative lg:absolute w-4/6 mx-auto lg:w-3/6 md:right-0 h-screen/2 -mt-10 lg:mt-20 md:mr-5">
  <div class="absolute z-1 inset-0 w-full h-full visible opacity-70 dark:invisible">
    {{> extras/landingIllustration }}
  </div>
  <div class="absolute z-1 inset-0 w-full h-full opacity-40 invisible dark:visible">
    {{> extras/landingIllustrationDark }}
  </div>
  <div class="absolute z-1 inset-0 w-full h-full opacity-70 ">
    {{> extras/landingIllustrationDarkHigh }}
  </div>
</div>

<div class="relative -mt-44 lg:mt-0">
  {{> landing/header }}
</div>

{{> landing/logos }}

{{> landing/featuresPreview }}

{{> landing/opensource }}

{{> landing/developersPreview }}

{{> cardCTA subHeadline="We're working round the clock to get V2 out - be the first to try it out:" }}

{{> landing/blogPreview }}

{{> landing/newsletter }}