{{!< default}}

<div class="relative lg:mt-0 py-10">
  {{> landing/header }}
</div>

{{> landing/logos }}

{{> landing/connectorsPreview }}

{{!-- {{> landing/featuresPreview }} --}}

{{!-- {{> landing/logos }} --}}

{{> cardCTAShadow 
  shadow=true
  subHeadline="Speckle is in public beta and free to use." 
  buttonText="Get Started" }}

{{> landing/opensource }}

{{> landing/developersPreview }}


{{> landing/blogPreview }}

{{> landing/newsletter }}