{{!< default}}

{{#post}}
  {{> extras/patterns}}

  <article class="relative">
    <main class="mx-auto max-w-prose dark:prose-dark object-center justify-center my-10">
      <div class="w-3/3 text-center">
        <h1 class="text-4xl tracking-tight font-extrabold text-gray-900 dark:text-gray-100 sm:text-5xl md:text-6xl">
          <span class="inline-block xl:inline text-gradient text-gradient bg-gradient-to-r from-blue-500 to-blue-700">
            {{title}}
          </span>
        </h1> 
        <div class="post-body text-gray-500 dark:text-gray-100 text-base text-justify sm:text-lg md:text-xl md:max-w-6xl mt-10">
          Speckle 2.0 is now in public beta - join now and get early access to our hosted and managed Speckle offerings.
        </div>
      </div>
    </main>

    {{!-- <div class="mx-auto max-w-prose prose dark:prose-dark object-center justify-center">
      <h1>Ready to deploy your own server?</h1>
      <div class="post-body text-gray-500 dark:text-gray-100 text-base text-justify sm:text-lg md:text-xl md:max-w-6xl mt-10 pb-10">
          We've got you covered.
      </div>
    </div> --}}

    {{!-- {{> pricingWithPro }} --}}
    {{!-- {{> pricingRegister }} --}}
    {{> pricing }}

    <header class="mb-10 mt-24 px-4 lg:px-8 relative sm:px-6 pb-10">
{{!--       <div class="max-w-prose mx-auto relative py-10 my-10 rounded-2xl overflow-hidden flex col-span-2 transition hover:shadow-2xl bg-white dark:bg-gray-900">
          <div class="relative block mx-auto self-center text-center">
            <a href="https://calendly.com/speckle-ollie" target="_blank" class="w-full h-full flex content-center">
              <div class=" text-2xl font-semibold text-blue-600">
                Still have questions? Book A Demo!
              </div>
            </a>
          </div>
        </div> --}}

      <div class="mx-auto max-w-prose prose dark:prose-dark object-center justify-center">
        <h1>
          <span class="font-extrabold leading-8 text-4xl text-gray-700 tracking-tight mt-12 dark:text-gray-100 ">
            Q&As:
          </span>
        </h1>
        <div class="leading-8 mx-auto max-w-prose mt-8">

          <div class="my-5 text-xl text-gray-700 dark:text-gray-200">
            <h4 class="text-xl mb-4">
              <span class="text-blue-600 font-bold">Q:</span>
              Which is the best plan for me?
            </h4>
            <p class="text-base">
              If you are a large enterprise or have special
              data sovereignty
              requirements for your project, the
              Managed plan is best suited to cover your
              needs. We support deploying Speckle on your
              own infrastructure, or ours.
              For everyday usage & just getting things
              done, we recommend the Free plan.
            </p>
          </div>

          <div class="my-5 text-xl text-gray-700 dark:text-gray-200">
            <h4 class="text-xl mb-4">
              <span class="text-blue-600 font-bold">Q:</span>
              Wait, isn't Speckle Open Source?
            </h4>
            <p class="text-base">
              Yes! Speckle is Open Source. You can always self-host your server, build your own connectors, etc. - at your own cost.
              Check out our <a class="text-blue-500 font-normal"
                href="https://github.com/specklesystems">
                code on Github.</a>
            </p>
          </div>

          <div class="my-5 text-xl text-gray-700 dark:text-gray-200">
            <h4 class="text-xl mb-4">
              <span class="text-blue-600 font-bold">Q:</span>
              Can you deploy Speckle on Azure, AWS, or GCP?
            </h4>
            <p class="text-base">
              Yes. As part of the Enterprise plan, we can
              deploy Speckle for you on any cloud provider
              your company might
              be using.
            </p>
          </div>

          <div class="my-5 text-xl text-gray-700 dark:text-gray-200">
            <h4 class="text-xl mb-4">
              <span class="text-blue-600 font-bold">Q:</span>
              Do you provide support for self-hosted
              versions?
            </h4>
            <p class="text-base">Unfortunately we cannot do
              so, for more reasons than one. First, it's
              difficult to debug a setup without having
              access to it. Second, to have access to it
              implies we would be seeing very private
              details of your infrastructure - which you
              don't want us to do without a contract in
              place.
              <br>
              <br>
              If you want a support package for self-hosted
              versions, <a class="text-blue-500 font-normal"
                href="/contact">
                don't hesitate to get in touch!</a>
            </p>
          </div>

          <div class="my-5 text-xl text-gray-700 dark:text-gray-200">
            <h4 class="text-xl mb-4">
              <span class="text-blue-600 font-bold">Q:</span>
              Will the Standard plan always be free?
            </h4>
            <p class="text-base">Yes.
            </p>
          </div>

          <div class="my-5 text-xl text-gray-700 dark:text-gray-200">
            <h4 class="text-xl mb-4">
              <span class="text-blue-600 font-bold">Q:</span>
              I'm a teacher/professor/academic/university,
              can I get a managed server?
            </h4>
            <p class="text-base">Absolutely. Just get in
              touch with us, and we'll discuss the best way
              to go forward. <a class="text-blue-500 font-normal"
                href="/contact">
                Contact us.</a>
            </p>
          </div>

          <div class="my-5 text-xl text-gray-700 dark:text-gray-200">
            <h4 class="text-xl mb-4">
              <span class="text-blue-600 font-bold">Q:</span>
              What does "Speckle" stand for?
            </h4>
            <p class="text-base">
              Only a few people know this. It's a closely
              guarded secret, but if you find out - let us
              know and we'll send you a sticker pack.
            </p>
          </div>
        </div>
      </div>

      <div class="max-w-prose mx-auto py-10 px-5 lg:px-0">

        <div class="relative py-10 my-5 rounded-2xl overflow-hidden flex col-span-2 transition hover:shadow-2xl bg-white dark:bg-gray-900">
          <div class="relative block mx-auto self-center text-center">
            <a href="/contact" class="w-full h-full flex content-center">
              <div class=" text-2xl font-semibold text-blue-600">
                Still have questions? Contact us →
              </div>
            </a>
          </div>
        </div>
      </div>

    </header>

  </article>

{{/post}}