{{!< default}}


{{#post}}

  <article class="relative">

    {{!-- Header --}}

    <header class="relative px-4 sm:px-6 lg:px-8 mt-24">
      <div class="max-w-prose mx-auto object-center">

        <h1>
          <span class="mt-12 block text-4xl text-center leading-8 font-extrabold tracking-tight text-gray-900 dark:text-gray-100 sm:text-4xl">
            {{title}}
          </span>
        </h1>

      </div>
    </header>

    <div class="post-body mt-10 max-w-prose mx-auto text-gray-700 dark:text-gray-300">

      {{content}}

    </div>

    <div class="max-w-prose mx-auto py-10 px-5 lg:px-0">

      <div class="relative py-10 my-5 rounded-2xl overflow-hidden flex col-span-2 transition hover:shadow-2xl bg-white dark:bg-gray-900">
        <div class="relative block mx-auto self-center text-center">
          <a href="mailto:hello@speckle.systems" class="w-full h-full flex content-center">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none"
              class="w-8 h-8 text-blue-600  mr-2"
              viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round"
                stroke-width="2" d="M3 8l7.89 5.26a2 2 0 002.22 0L21 8M5 19h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z" />
            </svg>
            <div class=" text-2xl font-semibold text-blue-600">
              General Inquiries & Sales →
            </div>
          </a>
        </div>
      </div>


      <div class="relative py-10 my-5 rounded-2xl overflow-hidden flex col-span-2 transition hover:shadow-2xl bg-white dark:bg-gray-900">
        <div class="relative block mx-auto self-center text-center ">
          <a href="http://speckle.community" class="w-full h-full flex content-center">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none"
              class="w-8 h-8 text-blue-600  mr-2"
              viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 20h5v-2a3 3 0 00-5.356-1.857M17 20H7m10 0v-2c0-.656-.126-1.283-.356-1.857M7 20H2v-2a3 3 0 015.356-1.857M7 20v-2c0-.656.126-1.283.356-1.857m0 0a5.002 5.002 0 019.288 0M15 7a3 3 0 11-6 0 3 3 0 016 0zm6 3a2 2 0 11-4 0 2 2 0 014 0zM7 10a2 2 0 11-4 0 2 2 0 014 0z" />
            </svg>
            <div class=" text-2xl font-semibold text-blue-600">
              Community Forum →
            </div>
          </a>
        </div>
      </div>

       <div class="relative py-10 my-5 rounded-2xl overflow-hidden flex col-span-2">
        <div class="relative block mx-auto self-center text-center ">

            <div class="flex space-x-6 justify-center md:justify-start">
              {{> extras/socialLinks }}
            </div>
        </div>
      </div>

      {{> landing/newsletter }}

    </div>

  </article>

{{/post}}