    <div class="hidden lg:block lg:absolute lg:inset-y-0 lg:w-full pointer-events-none overflow-hidden" style="height:100vh; top:100vh;">
      <div class="relative text-lg max-w-prose mx-auto" style="height:75vh;"
        aria-hidden="true">
        <svg class="absolute top-12 left-full transform"
          width="404" height="384" fill="none" viewBox="0 0 404 384">
          <defs>
            <pattern id="74b3fd99-0a6f-4271-bef2-e80eeafdf357"
              x="0" y="0" width="20" height="20"
              patternUnits="userSpaceOnUse">
              <rect x="0" y="0" width="4" height="4" class="text-cyan-200 dark:text-cyan-900"
                fill="currentColor"></rect>
            </pattern>
          </defs>
          <rect width="404" height="384" fill="url(#74b3fd99-0a6f-4271-bef2-e80eeafdf357)"></rect>
        </svg>
        <svg class="absolute top-1/2 right-full transform -translate-y-1/2"
          width="600" height="600" fill="none" viewBox="0 0 600 600">
          <defs>
            <pattern id="f210dbf6-a58d-4871-961e-36d5016a0f49"
              x="0" y="0" width="20" height="20"
              patternUnits="userSpaceOnUse">
              <rect x="0" y="0" width="4" height="4" class="text-cyan-100 dark:text-gray-900 "
                fill="currentColor"></rect>
            </pattern>
          </defs>
          <rect width="600" height="600" fill="url(#f210dbf6-a58d-4871-961e-36d5016a0f49)"></rect>
        </svg>
      </div>
    </div>