{{#get "posts" filter="primary_tag:blog" limit="3" include="authors"}}
  <div class="pt-10">
    <div class="relative w-default container mx-auto pb-20 lg:pb-32">
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4 text-gray-500 dark:text-gray-600">


        <div>
          <div class="relative border-l-4 dark:border-gray-700">
            <h2 class="text-4xl pl-5 mb-5 font-bold text-blue-600">Blog</h2>
            <p class=" pl-5 text-lg text-gray-800 dark:text-gray-400">
              Latest news from Speckle.
            </p>

          </div>
          <div class="relative mt-5 rounded-xl py-5 hover:shadow-2xl transition overflow-hidden flex">
            <a href="/blog" class="w-full self-center">
              <div class="relative px-5">
                <div class="text-lg font-semibold text-blue-600">
                  Read More →
                </div>
              </div>
            </a>
          </div>
        </div>

        {{#foreach posts}}
          {{> cardBlogSm }}
        {{/foreach}}

      </div>
    </div>
  </div>
{{/get}}