<div class="w-default container my-10 mx-auto sm:mt-24">
  <div class="relative p-3 h-screen/2 col-span-2 opacity-50 flex text-center justify-center">
    {{!-- <img src="https://segment.com/site-assets/f06e5744/images/index/img__data-flow.svg"> --}}
    <img src="https://segment.com/site-assets/f06e5744/images/index/img__phone.svg">
  </div>
  <h3 class="relative text-xl my-2 text-blue-600">Why Speckle</h3>
  <p class="relative dark:text-white">Designers, architects and
    engineers use Speckle to Action 1, Action 2, Action
    3.
  </p>
  <div class="relative grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4 mt-10">

    {{#get "posts" filter="primary_tag:usecases+featured:true"}}
    {{#foreach posts}}
      {{> cardFancySmallNoImage }}
    {{/foreach}}
    {{/get}}
  </div>
{{!--   <div class="relative p-3 h-screen/2 col-span-2 flex text-center justify-center -mt-48">
    <img src="https://segment.com/site-assets/f06e5744/images/index/img__data-flow.svg">
    <img src="https://segment.com/site-assets/images/img__call-to-action.svg">
  </div> --}}
</div>