<div x-data="{ featureImageSource: 'https://segment.com/site-assets/f06e5744/images/index/img__phone.svg', default: 'https://segment.com/site-assets/f06e5744/images/index/img__phone.svg' }"
  class="container my-0 mt-36 mx-auto grid grid-cols-1 lg:grid-cols-2 gap-10">

  <div class="relative h-screen/2-3 xxxopacity-50 flex text-center justify-center align-middle">
    <img x-bind:src="featureImageSource" class="self-center">
  </div>

  <div class="relative grid grid-cols-1 gap-4">

    <div class="relative px-5">
      <h3 class="relative text-xl my-2 text-blue-600">Why
        Speckle</h3>
      <p class="relative dark:text-white">Designers,
        architects
        and
        engineers use Speckle to Action 1, Action 2, Action
        3.
      </p>
    </div>

    {{#get "posts" filter="primary_tag:usecases+featured:true" limit="3"}}
      {{#foreach posts}}
        {{!-- {{> cardFancySmallNoImage }} --}}
        <div class="relative rounded-xl h-44 bg-white dark:bg-gray-900 py-15 mb-5 overflow-hidden flex transition hover:shadow-xl"
          @mouseenter="featureImageSource='{{feature_image}}';">
          <a href="{{url}}" class="w-full self-center">
            <div class="relative px-8">
              <div class="text-3xl font-semibold text-gray-600 dark:text-gray-200">
                {{title}}
              </div>

              <div class="relative text-sm md:flex-grow mt-5">
                <p class="relative text-gray-500 text-clamp-3">
                  {{excerpt}}
                </p>
              </div>
              <footer class="mt-5">
                <p class="text-base font-semibold text-blue-500">
                  Read More
                </p>
              </footer>
            </div>
          </a>
        </div>
      {{/foreach}}
    {{/get}}

    <div class="relative rounded-xl py-5 hover:rounded-2xl hover:shadow-2xl transition overflow-hidden flex">
      <a href="/usecases" class="w-full self-center">
        <div class="relative px-8">
          <div class="text-3xl font-semibold text-blue-600">
            All Usecases →
          </div>
        </div>
      </a>
    </div>
  </div>
  {{!--   <div class="relative p-3 h-screen/2 col-span-2 flex text-center justify-center -mt-48">
    <img src="https://segment.com/site-assets/f06e5744/images/index/img__data-flow.svg">
    <img src="https://segment.com/site-assets/images/img__call-to-action.svg">
  </div> --}}
</div>