<main class="w-default relative z-1 py-10 lg:py-16 content-center flex flex-col lg:flex-row">
  <div class="w-full lg:w-1/2 text-center lg:text-left self-center">
    <div class="prose dark:prose-dark prose-lg self-center max-w-none">
      <h1 class="text-4xl tracking-tight font-extrabold text-gray-900 sm:text-5xl md:text-6xl">
        <span class="block xl:inline text-gray-800 dark:text-gray-200">
          The Platform For 3D Data
        </span>
      </h1>
      <p
        class="text-base lg:w-prose text-gray-800 dark:text-gray-200 sm:text-lg md:text-xl md:max-w-6xl mt-2 md:mt-6 lg:mt-10">
        The world runs on 3D: designers, engineers, hackers and entire
        organizations rely on us for interoperability,
        automation and collaboration to deliver better, together.
      </p>
    </div>
    <div class="mt-5 md:mt-8 flex items-center justify-center lg:justify-start">
      <a href="https://app.speckle.systems" class="items-center justify-center px-8 py-3 transition text-base font-medium rounded-md text-white bg-blue-500 hover:ring-4 hover:shadow-3xl md:py-4 md:text-lg md:px-10
        ">
        <span class="text-white no-underline">Register Now</span>
      </a>
      <a href="/download" class="hidden lg:flex ml-4 transition dark:text-gray-100 hover:text-blue-500">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
          <path stroke-linecap="round" stroke-linejoin="round" d="M4 16v1a3 3 0 003 3h10a3 3 0 003-3v-1m-4-4l-4 4m0 0l-4-4m4 4V4" />
        </svg>
        <span class="ml-2">Download</span>
      </a>
    </div>
  </div>
  <div class="w-full lg:w-1/2 p-4 mt-4 lg:mt-0">
    <div class="overflow-hidden shadow-2xl rounded-2xl mx-auto max-w-xl lg:w-full aspect-w-16 aspect-h-9">
      <div class="h-full">
        <iframe width="100%" height="100%" src="https://www.youtube-nocookie.com/embed/B9humiSpHzM"
          title="YouTube video player" frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
      </div>
    </div>
  </div>
</main>