<main class="w-default relative z-1 h-screen/2-3 flex flex-wrap content-center">
  <div class="w-3/3 lg:w-2/3 text-center lg:text-left">
    <h1 class="text-4xl tracking-tight font-extrabold text-gray-900 sm:text-5xl md:text-6xl">
      <span class="block xl:inline text-gray-800 dark:text-gray-200">{{@site.description}}</span>
    </h1>
    <p class="text-base text-gray-800 dark:text-gray-200 sm:text-lg md:text-xl md:max-w-6xl mt-10">
      Leading AEC companies, designers and developers use
      <span class="">Speckle</span> for
      interoperability, design automation and
      data management.
    </p>
    <div class="mt-5 mx-auto md:mt-8">
        <a href="/getstarted" class="items-center justify-center px-8 py-3 border border-transparent transition text-base font-medium rounded-md text-white bg-blue-600 hover:bg-blue-700 hover:shadow-xl md:py-4 md:text-lg md:px-10">
          Join the Beta
        </a>
    </div>
  </div>
 </main>