<div class="relative w-default container my-10 mx-auto mt-10 sm:mt-34">
{{!-- <div class="relative w-default container my-10 mx-auto mt-10 sm:mt-24 bg-white dark:bg-gray-800 p-10 rounded-xl shadow-xl"> --}}
{{!--   <h3 class="text-xl my-2 text-blue-600">Who uses Speckle</h3>
  <div class="text-gray-500 pb-10">
    Speckle was seen in the wild at
  </div> --}}
  <div class="grid grid-cols-2 sm:grid-cols-4 gap-4 text-gray-500 dark:text-gray-600">
    <div class="p-3 h-20 flex items-center justify-center">
      Arup
    </div>
    <div class="p-3 h-20 text-center align-center flex items-center justify-center">
      Atkins
    </div>
    <div class="p-3 h-20 text-center align-center flex items-center justify-center">
      Royal Haskoning
    </div>
    <div class="p-3 h-20 text-center align-center flex items-center justify-center">
      HOK
    </div>
  </div>
  <div class="grid grid-cols-2 sm:grid-cols-4 gap-4 text-gray-500 dark:text-gray-600">
    <div class="p-3 h-20 text-center align-center flex items-center justify-center">
      BIG
    </div>
    <div class="p-3 h-20 text-center align-center flex items-center justify-center">
      Aurecon
    </div>
    <div class="p-3 h-20 text-center align-center flex items-center justify-center">
      Grimshaw
    </div>
    <div class="p-3 h-20 text-center align-center flex items-center justify-center">
      SNC Lavalin
    </div>
  </div>
</div>