<div class="flex w-full py-10 lg:py-32 ">
  <div class="w-default grid grid-cols-1 lg:grid-cols-2 gap-10">
    <div class="relative">
      <h2 class="text-4xl pl-5 mb-5 font-bold text-blue-600 border-l-4 dark:border-gray-700">Open
        Source</h2>
      <p class="pl-5 text-lg text-gray-800 dark:text-gray-400">
        Our mission is to transform the AEC industry for
        the
        better by providing an <b>open source</b> data
        platform
        that everyone can use and extend. What does this
        mean?
      </p>

      <ul class="pl-5 pt-5 text-lg text-gray-800 dark:text-gray-400 list-inside list-disc">

        <li class="mt-2">
          <b class="text-blue-600">Independence:</b>
          No vendor or cloud lock-in.
        </li>

        <li class="mt-2">
          <b class="text-blue-600">Data sovereignty:</b>
          You always have a choice how and where your data
          is stored.
        </li>

        <li class="mt-2">
          <b class="text-blue-600">Longevity:</b>
          Open source code keeps thriving when business plans change.
        </li>
      </ul>
      <p class="mt-5 pl-5 text-lg text-gray-800 dark:text-gray-400">
        Star us ⭐️ on <a href="https://github.com/specklesystems/speckle-server" class="text-blue-500 font-normal">Github!</a>
      </p>
    </div>
    <div class="flex justify-center">
      <div class="w-full self-center">
        <div class="block h-32 w-32 mx-auto">
          <svg xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd"
            class="fill-current text-blue-600"
            stroke-linejoin="round" stroke-miterlimit="2"
            clip-rule="evenodd" viewBox="0 0 2483 2404">
            <path d="M1391.07 1631.92c215.45-82.75 323.06-324.52 240.35-540.05-82.72-215.53-324.44-323.17-539.9-240.43-215.45 82.74-323.04 324.53-240.34 540.06a418.12 418.12 0 00240.35 240.42l-281.47 733.7c-620.53-238.27-930.49-934.6-692.32-1555.32 238.18-620.73 934.28-930.78 1554.8-692.53 620.53 238.25 930.49 934.57 692.3 1555.3a1204.18 1204.18 0 01-692.3 692.52l-281.47-733.68v.01z" />
          </svg>
        </div>
        <p class="text-center dark:text-gray-200 mt-5">Your
          design: your data.</p>
      </div>
    </div>
  </div>
</div>