{{!-- <div class="bg-gradient-to-r from-blue-800 to-blue-500 dark:to-blue-900 text-white py-10"> --}}
<div class="bg-blue-100 dark:bg-gray-900 shadow-inner">
  <div class="w-default h-screen/2 dark:text-white flex flex-wrap content-center justify-center items-center">
    <p class="text-center max-w-prose w-full text-xl">
      Open Source:
    </p>
    <h1 class="text-6xl my-10 w-3/3">
      Your Design.
      <span class="font-bold">
        Your Data.
      </span>
    </h1>
    <p class="text-justify max-w-prose w-3/3">Speckle is
      Open Source, so you always have a choice and can
      adapt it to any data sovereignty requirements. You
      can deploy it on your favourite cloud provider's
      infrastructure, or on premise, under your
      supervision.
    </p>
  </div>
</div>