<a href="/blog" class="-m-3 p-3 flex flex-col justify-between rounded-lg transition dark:bg-gray-950 hover:bg-blue-100 dark:hover:bg-gray-800 ring">
  <div class="flex-shrink-0">
    <span class="inline-flex items-center justify-center h-64 w-64 rounded-md text-gray-500 dark:text-white sm:h-12 sm:w-12">
      <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg"
        fill="none" viewBox="0 0 24 24" stroke="currentColor"
        aria-hidden="true">
        <path stroke-linecap="round" stroke-linejoin="round"
          stroke-width="2" d="M11 5.882V19.24a1.76 1.76 0 01-3.417.592l-2.147-6.15M18 13a3 3 0 100-6M5.436 13.683A4.001 4.001 0 017 6h1.832c4.1 0 7.625-1.234 9.168-3v14c-1.543-1.766-5.067-3-9.168-3H7a3.988 3.988 0 01-1.564-.317z" />
      </svg>
    </span>
  </div>
  <div class="flex items-center md:h-full lg:flex-col">
    <div class="ml-4 md:flex-1 md:flex md:flex-col md:justify-between lg:ml-0 lg:mt-4">
      <div>
        <p class="text-base font-medium text-gray-900 dark:text-gray-50">
          Blog
        </p>
        <p class="mt-1 text-sm text-gray-900 dark:text-gray-50">
          Latest news, thoughts and geeky tech articles
          from the team.
        </p>
      </div>
      <p class="mt-2 text-sm font-medium text-blue-600 lg:mt-4">Read
        More <span aria-hidden="true">→</span></p>
    </div>
  </div>
</a>

<a href="https://speckle.guide" target="blank" class="-m-3 p-3 flex flex-col justify-between rounded-lg transition dark:bg-gray-950 hover:bg-blue-100 dark:hover:bg-gray-800">
  <div class="flex-shrink-0">
    <span class="inline-flex items-center justify-center h-64 w-64 rounded-md text-gray-500 dark:text-white sm:h-12 sm:w-12">
      <svg class="h-6 w-6" x-description="Heroicon name: chart-bar"
        xmlns="http://www.w3.org/2000/svg" fill="none"
        viewBox="0 0 24 24" stroke="currentColor"
        aria-hidden="true">
        <path stroke-linecap="round" stroke-linejoin="round"
          stroke-width="2" d="M12 6.253v13m0-13C10.832 5.477 9.246 5 7.5 5S4.168 5.477 3 6.253v13C4.168 18.477 5.754 18 7.5 18s3.332.477 4.5 1.253m0-13C13.168 5.477 14.754 5 16.5 5c1.747 0 3.332.477 4.5 1.253v13C19.832 18.477 18.247 18 16.5 18c-1.746 0-3.332.477-4.5 1.253" />
      </svg>
    </span>
  </div>
  <div class="flex items-center md:h-full lg:flex-col">
    <div class="ml-4 md:flex-1 md:flex md:flex-col md:justify-between lg:ml-0 lg:mt-4">
      <div>
        <p class="text-base font-bold text-gray-900 dark:text-gray-50">
          Docs
        </p>
        <p class="mt-1 text-sm font-normal  text-gray-900 dark:text-gray-50">
          Documentation and step-by-step guides on how to
          get the best of Speckle.
        </p>
      </div>
      <p class="mt-2 text-sm font-medium text-blue-600 lg:mt-4">Check
        it out <span aria-hidden="true">→</span></p>
    </div>
  </div>
</a>

<a href="https://speckle.community" target="blank" class="-m-3 p-3 flex flex-col justify-between rounded-lg transition dark:bg-gray-950 hover:bg-blue-100 dark:hover:bg-gray-800">
  <div class="flex-shrink-0">
    <span class="inline-flex items-center justify-center h-64 w-64 rounded-md text-gray-500 dark:text-white sm:h-12 sm:w-12">
      <svg class="h-6 w-6" x-description="Heroicon name: chart-bar"
        xmlns="http://www.w3.org/2000/svg" fill="none"
        viewBox="0 0 24 24" stroke="currentColor"
        aria-hidden="true">
        <path stroke-linecap="round" stroke-linejoin="round"
          stroke-width="2" d="M17 20h5v-2a3 3 0 00-5.356-1.857M17 20H7m10 0v-2c0-.656-.126-1.283-.356-1.857M7 20H2v-2a3 3 0 015.356-1.857M7 20v-2c0-.656.126-1.283.356-1.857m0 0a5.002 5.002 0 019.288 0M15 7a3 3 0 11-6 0 3 3 0 016 0zm6 3a2 2 0 11-4 0 2 2 0 014 0zM7 10a2 2 0 11-4 0 2 2 0 014 0z" />
      </svg>
      {{!-- <img src="{{img_url feature_image size="m"}}"> --}}
    </span>
  </div>
  <div class="flex items-center md:h-full lg:flex-col">
    <div class="ml-4 md:flex-1 md:flex md:flex-col md:justify-between lg:ml-0 lg:mt-4">
      <div>
        <p class="text-base font-bold text-gray-900 dark:text-gray-50">
          Community
        </p>
        <p class="mt-1 text-sm font-normal text-gray-900 dark:text-gray-50">
          Where specklers usually hang out. Q&As, Dev Help,
          Showcases, and more!
        </p>
      </div>
      <p class="mt-2 text-sm font-medium text-blue-600 lg:mt-4">Register
        now <span aria-hidden="true">→</span></p>
    </div>
  </div>
</a>

<a href="https://github.com/specklesystems/speckle-server"
  class="-m-3 p-3 flex flex-col justify-between rounded-lg transition dark:bg-gray-950 hover:bg-blue-100 dark:hover:bg-gray-800">
  <div class="flex-shrink-0">
    <span class="inline-flex items-center justify-center h-64 w-64 rounded-md text-gray-500 dark:text-white sm:h-12 sm:w-12">
      <svg class="h-6 w-6" fill="currentColor" viewBox="0 0 24 24"
        aria-hidden="true">
        <path fill-rule="evenodd" d="M12 2C6.477 2 2 6.484 2 12.017c0 4.425 2.865 8.18 6.839 9.504.5.092.682-.217.682-.483 0-.237-.008-.868-.013-1.703-2.782.605-3.369-1.343-3.369-1.343-.454-1.158-1.11-1.466-1.11-1.466-.908-.62.069-.608.069-.608 1.003.07 1.531 1.032 1.531 1.032.892 1.53 2.341 1.088 2.91.832.092-.647.35-1.088.636-1.338-2.22-.253-4.555-1.113-4.555-4.951 0-1.093.39-1.988 1.029-2.688-.103-.253-.446-1.272.098-2.65 0 0 .84-.27 2.75 1.026A9.564 9.564 0 0112 6.844c.85.004 1.705.115 2.504.337 1.909-1.296 2.747-1.027 2.747-1.027.546 1.379.202 2.398.1 2.651.64.7 1.028 1.595 1.028 2.688 0 3.848-2.339 4.695-4.566 4.943.359.309.678.92.678 1.855 0 1.338-.012 2.419-.012 2.747 0 .268.18.58.688.482A10.019 10.019 0 0022 12.017C22 6.484 17.522 2 12 2z"
          clip-rule="evenodd"></path>
      </svg>
    </span>
  </div>
  <div class="flex items-center md:h-full lg:flex-col">
    <div class="ml-4 md:flex-1 md:flex md:flex-col md:justify-between lg:ml-0 lg:mt-4">
      <div>
        <p class="text-base font-medium text-gray-900 dark:text-gray-50">
          Github
        </p>
        <p class="mt-1 text-sm text-gray-900 dark:text-gray-50">
          Check out the Speckle source code and give us a
          star ⭐️
        </p>
      </div>
      <p class="mt-2 text-sm font-medium text-blue-600 lg:mt-4">Read
        More <span aria-hidden="true">→</span></p>
    </div>
  </div>
</a>